{% extends "base.html.twig" %}

{% block title %}Nuevo Articulo{%endblock%}

{%block body%}
<h1 class="text-center">Agregando nuevo articulo</h1>
{{form_start(form)}}
 <div class="text-center">
     <div class="mb-3">
         {{form_label(form.titulo)}}
         {{form_widget(form.titulo)}}
     </div>
     <div class="mb-3">
         {{form_label(form.fecha)}}
         {{form_widget(form.fecha)}}
     </div>
     <div class="mb-3">
         {{form_label(form.medio)}}
         {{form_widget(form.medio)}}
     </div>
     <div class="mb-3">
         {{form_label(form.texto)}}
         {{form_widget(form.texto)}}
     </div>
     <div class="mb-3">
         {{form_label(form.comentario)}}
         {{form_widget(form.comentario)}}
     </div>
     <div class="mb-3">
         {{form_label(form.resumen)}}
         {{form_widget(form.resumen)}}
     </div>
     <div class="mb-3">
         {{form_label(form.categoria)}}
         {{form_widget(form.categoria)}}
     </div>
     <div class="mb-3">
         {{form_label(form.url)}}
         {{form_widget(form.url)}}
     </div>
     <div class="mb-3">
         {{form_row(form.save)}}
     </div>
</div>
{{form_end(form)}}
{%endblock%}